@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: transparent;
  overflow-x: hidden;
}

#wae {
  color: rgb(157, 157, 168);
text-align: center;
margin-top: 200px;
}

.icon-link {
  display: inline-block;
  transition: transform 0.3s ease;
}

.icon-link:hover {
  transform: scale(1.2);
}

.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes custom-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(-2px);
  }
}

.animate-custom-bounce {
  animation-name: custom-bounce;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.header-hover a {
  box-shadow: inset 0 0 0 0 #6B7280;
  color: white;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  border-radius: 0.75rem;
  padding:5px;
}
.header-hover a:hover {
  box-shadow: inset 100px 0 0 0 #6B7280;
  color: white;
  border-radius: 0.75rem;
  padding:5px;
}



@media (min-width: 200px) {
  .typewriter-wrapper span {
    
    font-size: 30px;
    /* Add other styles for the cursor */
  }
}
@media (min-width: 400px) {
  .typewriter-wrapper span {
    
    font-size: 38px;
    /* Add other styles for the cursor */
  }
}
@media (min-width: 640px) {
  .typewriter-wrapper span {
    font-size: 34px;
    /* Add other styles for the cursor */
  }
}
@media (min-width: 768px) {
  .typewriter-wrapper span {
    font-size: 42px;
    /* Add other styles for the cursor */
  }
}
@media (min-width: 1280px) {
  .typewriter-wrapper span {
    font-size: 48px;
    /* Add other styles for the cursor */
  }
}
@media (min-width: 2000px) {
  .typewriter-wrapper span {
    font-size: 50px;
    /* Add other styles for the cursor */
  }
}
.glitch{

  
  animation: glitch 687ms infinite;
  
  text-transform: uppercase;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75), -0.025em -.05em 0 rgba(0, 255, 0, .75), 0.025em .05em 0 rgba(0, 0, 255, .75);
  }
 @keyframes glitch{
  0%{
  text-shadow:
  0.05em 0 0 rgba(255, 0, 0, .75),
  -0.025em -.05em 0 rgba(0, 255, 0, .75),
  0.025em .05em 0 rgba(0, 0, 255, .75);
  }
  14%{
  text-shadow:
  0.05em 0 0 rgba(255, 0, 0, .75),
  -0.025em -.05em 0 rgba(0, 255, 0, .75),
  0.025em .05em 0 rgba(0, 0, 255, .75);
  }
  15%{
  text-shadow:
  -0.05em -.025em 0 rgba(255, 0, 0, .75),
  0.025em 0.025em 0 rgba(0, 255, 0, .75),
  -0.05em -.05em 0 rgba(0, 0, 255, .75);
  }
  49%{
  text-shadow:
  -0.05em -.025em 0 rgba(255, 0, 0, .75),
  0.025em 0.025em 0 rgba(0, 255, 0, .75),
  -0.05em -.05em 0 rgba(0, 0, 255, .75);
  }
  50%{
  text-shadow:
  0.025em 0.05em 0 rgba(255, 0, 0, .75),
  0.05em 0 0 rgba(0, 255, 0, .75),
  0 -0.05em 0 rgba(0, 0, 255, .75);
  }
  99%{
  text-shadow:
  0.025em 0.05em 0 rgba(255, 0, 0, .75),
  0.05em 0 0 rgba(0, 255, 0, .75),
  0 -0.05em 0 rgba(0, 0, 255, .75);
  }
  100%{
  text-shadow:
  -0.025em 0 0 rgba(255, 0, 0, .75),
  -0.025em -0.025em 0 rgba(0, 255, 0, .75),
  -0.025em -0.05em 0 rgba(0, 0, 255, .75);
  }
  }

 .images {
 
  transform: rotate(2deg);
 }
 /* .skill-container {
  position: relative;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 30%;
  transition: opacity 0.5s ease-in-out;
}

.skill-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(Images/htmlicon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.skill-container:hover {
  opacity: 0.5;
}

.skill-container:hover::before {
  opacity: 1;
}
.skill-container:hover::after {
  opacity: 1;
}
.skill-container:hover::after {
  content: "7 months experience";
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  font-size: 25px;
  background-color: #6B7280;
  border-radius: 0.75rem;
  text-align: center;
padding: 0 10px;
}

.bg1 {
  pointer-events: auto;
  cursor: pointer;
  transition: 0.7s ease;
}

.bg1:hover .skill-container {
  opacity: 1;
} */

/* .bg1:hover p,
.bg1:hover .img1 {
  display: none;
}

.bg1:hover:before {
  content: "7 months experience";
} */

.frame {
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size:60%;
  animation: image 8s infinite alternate;
  background-origin: content-box;

}

@keyframes image {
  0% {
    background-image: url('Images/htmlicon.png');
    
  }
  14% {
    background-image: url('Images/cssicon.png');
    
  }
  28% {
    background-image: url('Images/jsicon.png');
  }
  42% {
    background-image: url('Images/nodejs.png');
  }
  56% {
    background-image: url('Images/firebase.png');
  }
  70.5% {
    background-image: url('Images/nextjs.png');
  }
  84.5% {
    background-image: url('Images/tailwind.png');
  }
  100% {
    background-image: url('Images/typescript.png');
  }
 
}
@media (min-width: 640px) {
  .frame {
    background-size: 45%; 
  }
}
@media (min-width: 740px) {
  .frame {
    background-size: 40%; 
  }
}
@media (min-width: 900px) {
  .frame {
    background-size: 35%; 
  }
}
@media (min-width: 1200px) {
  .frame {
    background-size: 30%; 
  }

}
@media (min-width: 1600px) {
  .frame {
    background-size: 25%; 
  }
}
@media (min-width: 1990px) {
  .frame {
    background-size: 20%; 
  }
}
@media (min-width: 2000px) {
  .frame {
    background-size: 20%; 
 
  }
}
@media (min-width: 2500px) {
  .frame {
    background-size: 15%; 
 
  }
}

div[data-title]::after {
  content: attr(data-title);
  position: absolute;
  top: auto;
  margin: auto;
  color: white;

 
  right: 0;
  left: 0;
  z-index: 100;
  border-radius: 0.75rem;
  text-align: center;
  word-wrap: break-word;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;
  font-size: 12px;
}
div[data-title1]::after {
  content: attr(data-title1);
  position: absolute;
  top: 10;
  margin: auto;
  color: white;
  bottom: 10;
  padding-top: 10px;
  padding-bottom: 10px;

  right: 0;
  left: 0;
  z-index: 100;
  border-radius: 0.75rem;
  text-align: center;
  word-wrap: break-word;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;
  font-size: 11px;
}
div[data-title]:hover::after {
  opacity: 1;
  background-color: #6B7280;
}
div[data-title1]:hover::after {
  opacity: 1;
  background-color: #6B7280;
}

