@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: transparent;
}

/* .description {
  font-size: var(--fs-600);
}
@media (min-width: 1333px) {
  :root {
  --fs-600: 1.5rem;
 
  --fs-400: 1.5rem;
  }
} */
#wae {
  color: rgb(157, 157, 168);
text-align: center;
margin-top: 200px;
}

.icon-link {
  display: inline-block;
  transition: transform 0.3s ease;
}

.icon-link:hover {
  transform: scale(1.2);
}

.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes custom-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(-2px);
  }
}

.animate-custom-bounce {
  animation-name: custom-bounce;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.header-hover a {
  box-shadow: inset 0 0 0 0 #6B7280;
  color: white;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.header-hover a:hover {
  box-shadow: inset 100px 0 0 0 #6B7280;
  color: white;
}



@media (min-width: 200px) {
  .typewriter-wrapper span {
    
    font-size: 30px;
    /* Add other styles for the cursor */
  }
}
@media (min-width: 400px) {
  .typewriter-wrapper span {
    
    font-size: 38px;
    /* Add other styles for the cursor */
  }
}
@media (min-width: 640px) {
  .typewriter-wrapper span {
    font-size: 34px;
    /* Add other styles for the cursor */
  }
}
@media (min-width: 768px) {
  .typewriter-wrapper span {
    font-size: 42px;
    /* Add other styles for the cursor */
  }
}
@media (min-width: 1280px) {
  .typewriter-wrapper span {
    font-size: 48px;
    /* Add other styles for the cursor */
  }
}
@media (min-width: 2000px) {
  .typewriter-wrapper span {
    font-size: 50px;
    /* Add other styles for the cursor */
  }
}
.glitch{

  
  animation: glitch 687ms infinite;
  
  text-transform: uppercase;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75), -0.025em -.05em 0 rgba(0, 255, 0, .75), 0.025em .05em 0 rgba(0, 0, 255, .75);
  }
 @keyframes glitch{
  0%{
  text-shadow:
  0.05em 0 0 rgba(255, 0, 0, .75),
  -0.025em -.05em 0 rgba(0, 255, 0, .75),
  0.025em .05em 0 rgba(0, 0, 255, .75);
  }
  14%{
  text-shadow:
  0.05em 0 0 rgba(255, 0, 0, .75),
  -0.025em -.05em 0 rgba(0, 255, 0, .75),
  0.025em .05em 0 rgba(0, 0, 255, .75);
  }
  15%{
  text-shadow:
  -0.05em -.025em 0 rgba(255, 0, 0, .75),
  0.025em 0.025em 0 rgba(0, 255, 0, .75),
  -0.05em -.05em 0 rgba(0, 0, 255, .75);
  }
  49%{
  text-shadow:
  -0.05em -.025em 0 rgba(255, 0, 0, .75),
  0.025em 0.025em 0 rgba(0, 255, 0, .75),
  -0.05em -.05em 0 rgba(0, 0, 255, .75);
  }
  50%{
  text-shadow:
  0.025em 0.05em 0 rgba(255, 0, 0, .75),
  0.05em 0 0 rgba(0, 255, 0, .75),
  0 -0.05em 0 rgba(0, 0, 255, .75);
  }
  99%{
  text-shadow:
  0.025em 0.05em 0 rgba(255, 0, 0, .75),
  0.05em 0 0 rgba(0, 255, 0, .75),
  0 -0.05em 0 rgba(0, 0, 255, .75);
  }
  100%{
  text-shadow:
  -0.025em 0 0 rgba(255, 0, 0, .75),
  -0.025em -0.025em 0 rgba(0, 255, 0, .75),
  -0.025em -0.05em 0 rgba(0, 0, 255, .75);
  }
  }

 .images {
 
  transform: rotate(2deg);
 }
